.available-tasked {
  background-color: white;
  border-radius: $base-radius;
  margin-top: $base-margin;
  padding: $base-padding;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.11);
  h1 {
    font-size: 20px;
    color: $paragraph-color;
    text-align: center;
    text-transform: capitalize;
  }
  .action {
    text-align: center;
    margin-top: $base-margin;
    button {
      color: white;
      cursor: pointer;
      border: none;
      outline: none;
      width: 100px;
      height: 40px;
      margin: 0 10px;
      border-radius: $base-radius;
      font-size: 20px;
      background-color: $secondary-color;
      &:hover {
        background-color: mix(white, $secondary-color, 10%);
      }
    }
  }
}
