.update {
  background-color: white;
  border-radius: $base-radius;
  margin-top: $base-margin;
  padding: $base-padding;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.11);
  h3 {
    color: $paragraph-color;
    font-size: 18px;
    text-align: center;
  }
  input {
    border: none;
    outline: none;
    margin-top: $base-margin;
    border-radius: $base-radius;
    background-color: rgb(228, 226, 226);
    color: black;
    width: 90%;
    font-size: 16px;
    padding: $base-padding;
    height: 45px;
  }
  button {
    width: 30%;
    height: 45px;
    background-color: $secondary-color;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: $base-radius;
    margin-top: $base-margin;
    &:hover {
      background-color: mix(white, $secondary-color, 10%);
    }
  }
}
