// site fonts

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Roboto Slab", serif;

// site golors

$primary-color: #130f40;
$secondary-color: #4cd137;
$paragraph-color: #576574;

// utilities
$base-margin: 12px;
$base-padding: 12px;
$base-radius: 8px;
